{% load static %}
<div class="content-container">
    <div class="chat-module">
        <div class="chat-module-top">
            <form>
                <div class="input-group input-group-round">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                    <input type="search" class="form-control filter-list-input" placeholder="Search chat" aria-label="Search Chat">
                </div>
            </form>
            <div class="chat-module-body">
                {% for chat in chat_content%}
                    <div class="media chat-item">
                        <img alt="William" src="../assets/images/avatar-1.jpg" class="rounded-circle user-avatar-lg">
                        <div class="media-body">
                            <div class="chat-item-title">
                                <span class="chat-item-author">
                                    <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img src="{{chat.sender.personal_image}}" alt="" class="user-avatar-md rounded-circle">
                                    </a>

                                    {% if chat.sender.id == doctor.id %}
                                        <span class="alert alert-success">you</span>
                                    {% else %}
                                        {{chat.sender.name}}

                                    {% endif %}
                                </span>
                                <span>{{chat.created_at}}</span>
                            </div>
                            <div class="chat-item-body">
                                <p>{{chat.text}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
                {% comment %} <div class="media chat-item">
                    <img alt="Daniel" src="../assets/images/avatar-2.jpg" class="rounded-circle user-avatar-lg">
                    <div class="media-body">
                        <div class="chat-item-title">
                            <span class="chat-item-author">Daniel</span>
                            <span>Yesterday</span>
                        </div>
                        <div class="chat-item-body">
                            <p>Quisque condimentum elit quis nibh condimentum, in maximus tortor viverra. 🤓</p>
                        </div>
                        <div class="media media-attachment">
                            <div class="avatar bg-primary">
                                <i class="fas fa-file"></i>
                            </div>
                            <div class="media-body">
                                <a href="#" class="">questionnaire-draft.doc</a>
                                <span>24kb Document</span>
                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}
                
            </div>
        </div>
        <div class="chat-module-bottom">
            <form class="chat-form"method="post">
                <textarea class="form-control" id="message"placeholder="Type message" rows="1"></textarea>
                <div class="chat-form-buttons">
                    <button type="button" class="btn btn-link">
                        <i class="far fa-smile"></i>
                    </button>
                    
                    <div class="custom-file custom-file-naked">
                        <input type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">
                            <i class="fas fa-paperclip"></i>
                        </label>
                    </div>
                </div>
                <button class="btn btn-primary" type="button" id="sendButton">
                    send
                </button>
            </form>
        </div>
    </div>
    <input type="hidden" id="reciever_id"value="{{reciever}}">
    <input type="hidden" id="sender_id" value="{{doctor.id}}">
    <script src="{% static '/vendor/jquery/jquery-3.3.1.min.js'%}"></script>
    <script>
        $(document).ready(function(){
            let url="/ws/doctor/doctor/chat/";
            let socket=new WebSocket("/ws/doctor/doctor/chat/"+$("#sender_id").val()+"/"+$("#reciever_id").val()+"/");
            socket.onopen=function(message){
                console.log(message);
            }
            $("#sendButton").on("click",function(){
                socket.send(JSON.stringify({"text":$("#message").val()}));
            });
        });
    </script>