{% load static %}
<div class="content-container">
    <input type="hidden"name="other_name"value="{{reciever.name}}"id="reciever_name">
    <input type="hidden"id="other_personal_image"value="{{reciever.personal_image.url}}">
    <input type="hidden"id="your_personal_image"value="{{doctor.personal_image.url}}">
    <input type="hidden"id="your_name"=value="{{doctor.name}}">
    <div class="chat-module">
        <div class="chat-module-top">
            <form>
                <div class="input-group input-group-round">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                    <input type="search" class="form-control filter-list-input" placeholder="Search chat" aria-label="Search Chat">
                </div>
            </form>
            <div class="chat-module-body">
                {% for chat in chat_content%}
                    <div class="media chat-item">
                        <img alt="William" src="{{chat.sender.personal_image.url}}" class="rounded-circle user-avatar-lg">
                        <div class="media-body" >
                            <div class="chat-item-title">
                                <span class="chat-item-author">
                                    
                                    {% if chat.sender.id == doctor.id %}
                                        you
                                    {% else %}
                                        {{chat.sender.name}}

                                    {% endif %}
                                </span>
                                <span>{{chat.created_at}}</span>
                            </div>
                            <div class="chat-item-body">
                                <p>{{chat.text}}</p>
                            </div>

                        </div>
                    </div>
                {% endfor %}
                <input type="hidden"name="chatRoomIs"id="chatRoomIs"value="{{room.id}}">
                {% comment %} <div class="media chat-item">
                    <img alt="Daniel" src="../assets/images/avatar-2.jpg" class="rounded-circle user-avatar-lg">
                    <div class="media-body">
                        <div class="chat-item-title">
                            <span class="chat-item-author">Daniel</span>
                            <span>Yesterday</span>
                        </div>
                        <div class="chat-item-body">
                            <p>Quisque condimentum elit quis nibh condimentum, in maximus tortor viverra. 🤓</p>
                        </div>
                        <div class="media media-attachment">
                            <div class="avatar bg-primary">
                                <i class="fas fa-file"></i>
                            </div>
                            <div class="media-body">
                                <a href="#" class="">questionnaire-draft.doc</a>
                                <span>24kb Document</span>
                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}
                
            </div>
        </div>
        <div class="chat-module-bottom">
            <form class="chat-form"method="post">
                <textarea class="form-control" id="message"placeholder="Type message" rows="1"></textarea>
                <div class="chat-form-buttons">
                    <button type="button" class="btn btn-link">
                        <i class="far fa-smile"></i>
                    </button>
                    
                    <div class="custom-file custom-file-naked">
                        <input type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">
                            <i class="fas fa-paperclip"></i>
                        </label>
                    </div>
                </div>
                <button class="btn btn-primary" type="button" id="sendButton">
                    send
                </button>
            </form>
        </div>
    </div>
    <input type="hidden" id="reciever_id"value="{{reciever.id}}">
    <input type="hidden" id="sender_id" value="{{doctor.id}}">
    <script src="{% static '/vendor/jquery/jquery-3.3.1.min.js'%}"></script>
    <script>
        function renderMessage(message,type){
            console.log(JSON.parse(message).message);

            message=JSON.parse(message).message;
            if(type=="sent"){
                let html="<div class='media chat-item'>";
                html+="<img alt='William' src="+$("#your_personal_image").val()+" class='rounded-circle user-avatar-lg'>";
                html+="<div class='chat-item-title'><span class='chat-item-author'>you";
                html+="</span><span>now</span></div>";
                html+=" <div class='chat-item-body'><p>"+message+"</p></div>"
                html+"</div></div>";
                $(".chat-module-body").html($(".chat-module-body").html()+html);
            }else{
                let html="<div class='media chat-item'>";
                html+="<img alt='William' src="+$("#other_personal_image").val()+" class='rounded-circle user-avatar-lg'>";
                html+="<div class='chat-item-title'><span class='chat-item-author'>"+$("#other_name").val();
                html+="</span><span>now</span></div>";
                html+=" <div class='chat-item-body'><p>"+message+"</p></div>"
                html+"</div></div>";
                $(".chat-module-body").html($(".chat-module-body").html()+html); 
            }
        }
        $(document).ready(function(){
            let your_conversation_inbox=new WebSocket("ws://localhost:8000/ws/doctor/doctor/chat/"+$("#reciever_id").val()+"/"+$("#sender_id").val()+"/"+$("#chatRoomIs").val()+"/");
            
            your_conversation_inbox.onmessage=function(message){
                renderMessage(message.data,"recieved");
            }
            let his_conversation_inbox=new WebSocket("ws://localhost:8000/ws/doctor/doctor/chat/"+$("#sender_id").val()+"/"+$("#reciever_id").val()+"/"+$("#chatRoomIs").val()+"/");
            $("#sendButton").on("click",function(){
                console.log(JSON.stringify({"text":$("#message").val()}));

                his_conversation_inbox.send(JSON.stringify({"text":$("#message").val()}));
                renderMessage(JSON.stringify({"message":$("#message").val()}),"sent");
            });
        });
    </script>