<div class="influence-finder">
  <div class="container-fluid dashboard-content">
    <!-- ============================================================== -->
    <!-- pageheader -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- end pageheader -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- content -->
    <!-- ============================================================== -->
    <div class="row">
      <!-- ============================================================== -->
      <!-- search bar  -->
      <!-- ============================================================== -->
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
          <div class="card-body">
            <form method="POST" action="{% url 'search_doctor' %}">
              <input
                class="form-control form-control-lg"
                type="text"
                placeholder="Search"
                aria-label="Search"
                name="name"
              />
              {% csrf_token %}
              <button class="btn btn-primary search-btn" type="submit">
                Search
              </button>
            </form>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- end search bar  -->
      <!-- ============================================================== -->
      <div class="col-12">
        <!-- ============================================================== -->
        <!-- card influencer one -->
        <!-- ============================================================== -->
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center">
              {% for doctor_obj in other_doctors %}
              <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="user-avatar float-xl-left pr-4 float-none">
                  <img
                    src="{{doctor_obj.personal_image.url}}"
                    alt="User Avatar"
                    class="rounded-circle user-avatar-xl"
                  />
                </div>
                <div class="pl-xl-3">
                  <div class="m-b-0">
                    <div class="user-avatar-name d-inline-block">
                      <h2 class="font-24 m-b-10">{{doctor_obj.name}}</h2>
                    </div>
                    <div
                      class="rating-star d-inline-block pl-xl-2 mb-2 mb-xl-0"
                    >
                      <i class="fa fa-fw fa-star"></i>
                      <i class="fa fa-fw fa-star"></i>
                      <i class="fa fa-fw fa-star"></i>
                      <i class="fa fa-fw fa-star"></i>
                      <i class="fa fa-fw fa-star"></i>
                      <p class="d-inline-block text-dark">14 Reviews</p>
                    </div>
                  </div>
                  <div class="user-avatar-address">
                    <p class="mb-2">
                      <i class="fa fa-map-marker-alt mr-2 text-primary"></i>
                      {{doctor_obj.address}}
                      <span class="m-l-10"
                        >{{doctor_obj.gender}}</span
                      >
                    </p>
                    <div class="mt-3">
                      {% comment %} <a href="#" class="mr-1 badge badge-light">Fitness</a
                      ><a href="#" class="mr-1 badge badge-light">Life Style</a
                      ><a href="#" class="mr-1 badge badge-light">Gym</a
                      ><a href="#" class="badge badge-light">Crossfit</a> {% endcomment %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="float-xl-right float-none mt-xl-0 mt-4">
                  <a href="#" class="btn-wishlist m-r-10"
                    ><i class="far fa-star"></i
                  ></a>
                  <a href="#" class="btn btn-secondary">Send Messages</a>
                </div>
              </div>
            </div>
          </div>
          {% comment %} <div class="border-top user-social-box">
            <div class="user-social-media d-xl-inline-block">
              <span class="mr-2 twitter-color">
                <i class="fab fa-twitter-square"></i></span
              ><span>13,291</span>
            </div>
            <div class="user-social-media d-xl-inline-block">
              <span class="mr-2 pinterest-color">
                <i class="fab fa-pinterest-square"></i></span
              ><span>84,019</span>
            </div>
            <div class="user-social-media d-xl-inline-block">
              <span class="mr-2 instagram-color">
                <i class="fab fa-instagram"></i></span
              ><span>12,300</span>
            </div>
            <div class="user-social-media d-xl-inline-block">
              <span class="mr-2 facebook-color">
                <i class="fab fa-facebook-square"></i></span
              ><span>92,920</span>
            </div>
            <div class="user-social-media d-xl-inline-block">
              <span class="mr-2 medium-color">
                <i class="fab fa-medium"></i></span
              ><span>291</span>
            </div>
            <div class="user-social-media d-xl-inline-block">
              <span class="mr-2 youtube-color">
                <i class="fab fa-youtube"></i></span
              ><span>1291</span>
            </div>
          </div> {% endcomment %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
