<a
  class="nav-link nav-user-img"
  href="#"
  id="navbarDropdownMenuLink2"
  data-toggle="dropdown"
  aria-haspopup="true"
  aria-expanded="false"
  ><img
    src="{{ doctor.personal_image.url}}"
    alt=""
    class="user-avatar-md rounded-circle"
/></a>
<div
  class="dropdown-menu dropdown-menu-right nav-user-dropdown"
  aria-labelledby="navbarDropdownMenuLink2"
>
  <div class="nav-user-info">
    <h5 class="mb-0 text-white nav-user-name">{{doctor.name}}</h5>
    <span class="status"></span><span class="ml-2">
        {% if doctor.is_authenticated %}
            avaliable
        {% else %}
            offline
        {% endif %}
    </span>
  </div>
  <a class="dropdown-item" href="{% url 'account'%}"><i class="fas fa-user mr-2"></i>Account</a>
  <a class="dropdown-item" href="{% url 'certificateIndex'%}"><i class="fas fa-cog mr-2"></i>certificate</a>
  <a class="dropdown-item" href="{% url 'logOut'%}"
    ><i class="fas fa-power-off mr-2"></i>Logout</a
  >
</div>
